body {
  background:url(imagenes/imagen.jpg);
  background-attachment: fixed;
  background-size: 100% 100%; 
}

.container{
   background:# ;
   with:150px;
   height:150px;
}

h1 {
    font-size:50px;
    height:150px;
    width:500px;
    color:#E63181; 
    background: #26ECF0;
    margin:50px 50px;
    padding:10px;
    border:5px solid #E63181;
    position:relative;
    top:150px;
    bottom:;
    right:;
    left:360px;
}
  
#notbtn {
   position:absolute;
   top:48%;
   left:55%;
   transform:translate();
   height:60px;
   width:80px;
   font-size:30px;
   background:#E63181;
   color:#FFFFFF;
   border-radius:10px;
}

#yesbtn:hover {
   background:#C20458;  
}

#yesbtn{
   position:absolute;
   top :48%;
   left:39%;
   transfom:translate();
   height:60px;
   width:80px;
   font-size:30px;
   color:#FFFFFF;
   background:#E63181;
   border-radius:10px;
}
